name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  eslint:
    name: Eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm run lint
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm run format
  dist:
    name: Build library
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: ./build.sh dist
      - uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist
  storybook:
    name: Build storybook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: ./build.sh storybook
      - uses: actions/upload-artifact@v6
        with:
          name: storybook
          path: storybook-static
